{% extends "gestion_bibliotheque/base.html" %}

{% block title %}Rapports{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Rapports</h1>
<div class="card">
    <div class="card-body">
        <h2>Statistiques Mensuelles sur les Emprunts</h2>
        <p>{{ statistiques_emprunts|length }} emprunts ce mois-ci.</p>
        <h2>Abonnements Renouvelés ou Expirés</h2>
        <p>Abonnements renouvelés : {{ abonnements_renouveles|length }}</p>
        <p>Abonnements expirés : {{ abonnements_expirés|length }}</p>
    </div>
</div>
{% endblock %}
